@model SmartHomeMVC.Models.ViewModels.IndexViewModels.HeaterIndexViewModel


@Html.AntiForgeryToken()


@if (Model.TurnOn)
{
    <div class="inner-item-div device-on">
        <div class="name-div">
            <h4>@Model.Name</h4>
            <div class="line"></div>
            <a href="#" class="btn btn-danger" onclick="ConfirmDeleteHeater(@Model.Id,@Model.Name)">Delete</a>
        </div>
        <div class="device-info-block">
            <span class="glyphicon glyphicon-off"></span> <span>Device is - ON</span>
        </div>
        <div class="line"></div>

        <div class="device-info-block">
            <span class="glyphicon glyphicon-certificate"></span>   <span>Temperature - </span><span>@Model.Temperature</span>
        </div>
        <div class="line"></div>

        <div class="device-info-block">
            <span class="glyphicon glyphicon-flash"></span> <span>Consumption - </span><span>@Model.Consumption wT</span>
        </div>
        <div class="line"></div>

        <a class="btn btn-default confBtn" href="#" onclick="ConfigHeater(@Model.Id)">
            <span class="glyphicon glyphicon-cog"></span>
        </a>

    </div>
}
else
{
    <div class="inner-item-div device-off">
        <div class="name-div">
            <h4>@Model.Name</h4>
            <div class="line"></div>
            <a href="#" class="btn btn-danger" onclick="ConfirmDeleteHeater(@Model.Id,'@Model.Name')">Delete</a>
        </div>
        <div class="device-info-block">
            <span class="glyphicon glyphicon-off"></span> <span>Device is - OFF</span>
        </div>
        <div class="line"></div>
        <div class="device-info-block">
            <span class="glyphicon glyphicon-certificate"></span><span>Temperature - </span><span>@Model.Temperature</span>
        </div>
        <div class="line"></div>
        <div class="device-info-block">
            <span class="glyphicon glyphicon-flash"></span><span>Consumption - </span><span>@Model.Consumption wT</span>
        </div>
        <div class="line"></div>

        <a class="btn btn-default confBtn" href="#" onclick="ConfigHeater(@Model.Id)">
            <span class="glyphicon glyphicon-cog"></span>
        </a>

    </div>
}

